.Warning {
    font-size: 13px;
    margin: 10px 5px;
    padding: 20px;
    background-color: #fcc578;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
}

.Warning-logo {
  position: absolute;
  margin: 5px 0px;
}

.Warning-logo > i {
  font-size: 25px;
}

.Warning-content {
  margin-left: 30px;
  position: relative;
  left: 15px;
}